label {
    font-size: 1.5rem;
    display: block;
}

input{
    padding: 0.5rem;
    border-radius: 0.6rem;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.527);
    font-size: 1rem;
}